homeassistant:
  name: St Helena Rd
  latitude: 53.76706
  longitude: -1.78070
  elevation: 257
  unit_system: metric
  time_zone: Europe/London
  customize: !include customize.yaml
  customize_domain:
    automation:
      hidden: true
      initial_state: 'on'


http:
  api_password: !secret http_api_password
  base_url: dera.squiggle.org


cloud:
config:
frontend:
history:
ios:
map:
mqtt:
sun:
updater:


binary_sensor:
  - platform: ping
    host: 192.168.40.33
    name: Lounge TV
  - platform: rpi_gpio
    ports:
      4: Heating
    invert_logic: true


emulated_hue:
  exposed_domains:
    - input_boolean
    - switch


history_graph:
  system:
    name: System Stats
    entities:
      - sensor.cpu_used
      - sensor.ram_used
    hours_to_show: 24
    refresh: 60


input_boolean:
  heating_boost:
    name: Boost
    initial: off


light:
  - platform: flux_led
    devices:
      192.168.40.54:
        name: Bedroom Mirror
        protocol: 'ledenet'
        mode: "rgb"
  - platform: mqtt
    name: "Kitchen Lamp"
    command_topic: "cmnd/kitchen/POWER"
    state_topic: "stat/kitchen/POWER"
    qos: 1
    payload_on: "ON"
    payload_off: "OFF"
    retain: true


logbook:
  exclude:
    entities:
      - automation.heating__boost_on
      - automation.heating__boost_off
      - group.data
      - group.heating
      - group.lighting
      - group.smoke_co


nest:
  client_id: !secret nest_client_id
  client_secret: !secret nest_client_secret


notify:
 - platform: ios


recorder:
  purge_interval: 2
  purge_keep_days: 7


sensor:
  - platform: metoffice
    api_key: !secret metoffice_api_key
    monitored_conditions:
      - weather
      - temperature
  - platform: systemmonitor
    resources:
      - type: memory_use_percent
      - type: processor_use


switch:
  - platform: tplink
    host: 192.168.40.6
    name: "Ellies Lamp"
  - platform: rpi_gpio
    ports:
      4: Heating
    invert_logic: true


group: !include groups.yaml
automation: !include_dir_merge_list automations/
script: !include scripts.yaml
