homeassistant:
  name: St Helena Rd
  latitude: 53.76706
  longitude: -1.78070
  elevation: 257
  unit_system: metric
  time_zone: Europe/London
  customize: !include customize.yaml

http:
  api_password: !secret http_api_password
  base_url: dera.squiggle.org

cloud:
config:
frontend:
history:
ios:
map:
sun:
updater:

binary_sensor:
  - platform: ping
    host: 192.168.40.33
    name: Lounge TV

input_boolean:
  test_button:
    name: Test button
    initial: off

logbook:
  exclude:
    entities:
      - group.data
      - group.heating
      - group.lighting
      - group.smoke_co2
nest:
  client_id: !secret nest_client_id
  client_secret: !secret nest_client_secret

notify:
 - platform: ios

sensor:
  - platform: metoffice
    api_key: !secret metoffice_api_key
    monitored_conditions:
      - weather
      - temperature

switch:
  - platform: tplink
    host: 192.168.40.6
  - platform: rpi_gpio
    ports:
      4: Heating
    invert_logic: true

group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
