# Home-assistant main config file

homeassistant:
  name: St Helena Rd
  latitude: 53.76706
  longitude: -1.78070
  elevation: 257
  unit_system: metric
  time_zone: Europe/London
  customize: !include customize.yaml
  customize_domain:
    automation:
      hidden: true
      initial_state: 'on'

zone:
  - name: Home
    latitude: 53.76706
    longitude: -1.78070
    radius: 200
    icon: mdi:home

mqtt:
    password: !secret api_password

http:
  #api_password: !secret api_password
  base_url: dera.squiggle.org

cloud:
config:
frontend:
history:
ios:
map:
sun:
zeroconf:

binary_sensor:
  - platform: rpi_gpio
    ports:
      4: Heating
    invert_logic: true
  - platform: workday
    country: UK
    workdays: [ mon, tue, wed, thu, fri ]


emulated_hue:
  exposed_domains:
    - input_boolean
    - light
    - switch


history_graph:
  system:
    name: System Stats
    entities:
      - sensor.processor_use
      - sensor.memory_use_percent
    hours_to_show: 12
    refresh: 60
  internet:
    name: Internet Bandwidth
    entities:
      - sensor.fritz_download
      - sensor.fritz_upload
    hours_to_show: 24
    refresh: 60


homekit:
  safe_mode: True
  filter:
    include_domains:
      - input_boolean
      - light
      - switch
  entity_config:
    input_boolean.heating_boost:
      name: Heating


input_boolean:
  heating_boost:
    name: Boost
    initial: off


light:
  - platform: flux_led
    devices:
      192.168.40.54:
        name: Bedroom Mirror
        protocol: ledenet
        mode: rgb
  - platform: mqtt
    name: Kitchen Lamp
    command_topic: "cmnd/kitchen/POWER"
    state_topic: "stat/kitchen/POWER"
    qos: 1
    payload_on: "ON"
    payload_off: "OFF"
    retain: true


logbook:
  exclude:
    entities:
      - automation.heating_boost_on
      - automation.heating_boost_off
      - group.data
      - group.heating
      - group.lighting
      - group.smoke_co
      - switch.heating_relight
      - sensor.met_office_weather
      - automation.heating_relight_hourly

#media_player:
#  - platform: firetv
#    name: Living Room TV
#    host: 192.168.40.35
#    adbkey: "/home/homeassistant/.homeassistant/config/firetv/adbkey"
#    get_source: false
#    get_sources: false

nest:
  client_id: !secret nest_client_id
  client_secret: !secret nest_client_secret
  structure:
    - St Helena Road

notify:
 - platform: ios


recorder:
  purge_interval: 1
  purge_keep_days: 7


sensor:
  - platform: metoffice
    api_key: !secret metoffice_api_key
    monitored_conditions:
      - weather
      - temperature
  - platform: systemmonitor
    resources:
      - type: memory_use_percent
      - type: processor_use
  - platform: waze_travel_time
    origin: BD6 1TB
    destination: LS2 8BT
    region: 'EU'
    name: Geoff Commute
    incl_filter: M62
    excl_filter: Stanningley
  - platform: fritzbox_netmonitor
  - platform: template
    sensors:
       fritz_upload:
          friendly_name: Upload
          unit_of_measurement: Mbps
          icon_template: mdi:upload
          value_template: >
            {% if (states.sensor.fritz_netmonitor.attributes.transmission_rate_up | float * 8 / 1000000) >= 0 %}
              {{ (states.sensor.fritz_netmonitor.attributes.transmission_rate_up | float * 8 / 1000000) | round(1) }}
            {% else %}
              NaN
            {% endif %}
       fritz_download:
          friendly_name: Download
          unit_of_measurement: Mbps
          icon_template: mdi:download
          value_template: >
            {% if (states.sensor.fritz_netmonitor.attributes.transmission_rate_down | float * 8 / 1000000) >= 0 %}
              {{ (states.sensor.fritz_netmonitor.attributes.transmission_rate_down | float * 8 / 1000000) | round(1) }}
            {% else %}
              NaN
            {% endif %}
       waste_collection:
          friendly_name: Next Waste Collection
          entity_id: sun.sun
          value_template: >
            {% if ((now().isocalendar()[1]|int) % 2) == 0 %}
              {% if (now().isoweekday()|int) > 5 %}
                Recycling
              {% else %}
                General
              {% endif %}
            {% else %}
              {% if (now().isoweekday()|int) > 5 %}
                General
              {% else %}
                Recycling
              {% endif %}
            {% endif %}


switch:
  - platform: tplink
    host: 192.168.40.6
    name: "Ellies Lamp"
  - platform: rpi_gpio
    ports:
      4: Heating
      17: Heating Relight
    invert_logic: true


tradfri:
  host: 192.168.40.42


group: !include groups.yaml
automation: !include_dir_merge_list automations/
script: !include scripts.yaml
